---
---

@import "../_sass/variables";

table.gridlike {
    width: 100%;
    font-family: monospace;
    margin-bottom: 24px;

    td {
        padding: 8px;
    }

    &, th, td {
        border: 1px solid #dddddd;
        border-collapse: collapse;
    }

    th {
        padding: 2px 8px;
    }

    .min-size {
         inline-size: min-content;
    }

    td.icon-cell {
        width: 42px;
        height: 42px;
    }
}

table td.checkmark {
    text-align: center;
    font-size: 1.5em;

    &.green {
        color: green;
    }

    &.yellow {
        color: yellow;
    }

    &.red {
        color: red;
    }

    i {
        display: block;
    }
}

table.endpoints {
    td {
        padding: 8px;

        &.endpoint-path {
            padding: 2px 16px;
            overflow-wrap: break-word;
            word-break: break-all;

            .flex-container {
                display: flex;
                flex-flow: row wrap;
                column-gap: 8px;
                align-items: center;

                span {
                    display: inline-block;

                    &.endpoint-path {
                        flex-grow: 1;
                    }
                }
            }

            .non_breakable {
                word-break: normal;
            }

            a.reference-link {
                text-align: center;
                font-size: 1.5em;

                &.icon-discord {
                    color: #7289da;
                }

                &.icon-openapi {
                    color: #d5873e;
                }
            }
        }

        .http-method {
            font-weight: bold;

            &.get {
                color: #008000;
            }

            &.post {
                color: #0000ff;
            }

            &.delete {
                color: #ff0000;
            }

            &.put {
                color: #b9b900;
            }

            &.patch {
                color: #cd853f;
            }
        }
    }
}

table.sticky-header th {
    position: sticky;
    top: 0;
    background: $white;
    z-index: 100;
    outline: 1px solid #dddddd;
    border: none;
    outline-offset: -1px;
}

a.anchor {
    opacity: 0;
    margin: .3em;
    animation: fade 2s linear;

    i {
        font-size: .5em;
        vertical-align: middle;
    }

    &:first-of-type {
        margin-left: .6em;
    }

    *:hover > & {
        opacity: 1;
    }
}

.structure-header {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;
    margin: 0;
    width: calc(100% - 2em);

    .structure-ratio {
        margin-left: auto;
        font-size: .8em;
    }
}

details > summary {
    cursor: pointer;
    list-style-type: disclosure-closed;
    &::marker {
        font-size: 2em;
    }
    &:hover a.anchor {
        opacity: 1;
    }
}

details[open] > summary {
    list-style-type: disclosure-open;
}
