{%- if include.item.parent %}
{%- assign breadcrumb_parent = site.data.categories[include.item.parent] %}
{%- include breadcrumb_item.html item=breadcrumb_parent %}
{%- endif %}
{%- if include.item.category %}
{%- assign breadcrumb_parent = site.data.categories[include.item.category] %}
{%- include breadcrumb_item.html item=breadcrumb_parent %}
<li class="breadcrumb-item">
    <a href="{{include.item.url}}">{{ include.item.title }}</a>
</li>
{%- else %}
{%- if include.item.slug %}
{%- assign breadcrumb_item = site.data.categories[include.item.slug] %}
{%- endif %}
<li class="breadcrumb-item">
    <a href="/{{breadcrumb_item.slug}}/">{{ breadcrumb_item.name }}</a>
</li>
{%- endif %}
