{%- capture title -%}
{%- if page.title == "Home" -%}
{{ site.title }} | {{ site.tagline }}
{%- else -%}
{{ page.title }} | {{ site.title }}
{%- endif -%}
{%- endcapture -%}
{%- capture description -%}
{%- if page.short-description -%}
{{ page.short-description }}
{%- else -%}
{{ title }}
{%- endif -%}
{%- endcapture -%}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

    <title>{{ title }}</title>

    <meta property="og:title" content="{{ title }}">
    <meta property="og:site_name" content="{{ site.brand_name }}">
    <meta property="og:url" content="{{ site.url }}{{ site.baseurl }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/assets/{{ site.meta_image }}">
    {% if page.layout == "post" -%}
    <meta property="og:type" content="article">
    {% if page.date -%}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {%- endif %}
    {% if page.last_modified_at -%}
    <meta property="article:modified_time" content="{{ page.last_modified_at | date_to_xmlschema }}">
    {%- endif %}
    {% if page.category -%}
    <meta property="article:section" content="{{ site.data.categories[page.category].name }}">
    {%- endif %}
    {%- else -%}
    <meta property="og:type" content="website">
    {%- endif %}
    <link rel="stylesheet" href="{{ site.baseurl }}/css/styles.css">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/assets/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/assets/site.webmanifest">
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">
</head>
