<div class="header-bg">
    <div class="container-full">
        <div class="header">
            {% include nav.html %}
            <header class="container grid-xl landing-header">
                <div class="columns pt-12 pb-8">
                    <div class="column col-11 col-mx-auto text-center">
                        <h1 class="mt-2 super-h1">{{ site.header }}</h1>
                        <h4 class="text-secondary">{{ site.subheader }}</h4>
                        <img class="img-responsive" src="{{ site.baseurl }}/assets/{{ site.meta_image }}">
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>
