<div class="header-bg">
    <div class="container-full">
        <div class="header">
            {% include nav.html %}
            <header class="container grid-xl landing-header">
                <div class="pb-16"></div>
            </header>
        </div>
    </div>
</div>
