<nav class="container grid-xl navbar">
    <div class="flex-vertical-center hide-sm">
        <a style="width: 20%;" href="{{ site.baseurl }}/" class="logo">
            <img style="max-width: 100%;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}" alt="{{ site.title }} logo"/>
        </a>
        <p class="m-0 ml-2 text-light d-inline">{{ site.content_type }}</p>
    </div>
    <div class="text-center show-sm">
        <a style="width: 100%;" href="{{ site.baseurl }}/" class="logo flex-centered">
            <img style="max-width: 150px;" src="{{ site.baseurl }}/assets/{{ site.brand_logo }}" alt="{{ site.title }} logo"/>
        </a>
        <p class="m-0 text-light">{{ site.content_type }}</p>
        {% for nav_item in site.data.navigation %}
        <li class="py-2 mt-4">
            <a class="nav-links" href="{{ nav_item.url }}">{% if nav_item.icon != null %}<i class='icon-{{ nav_item.icon }}'></i> {% endif %}{{ nav_item.name }}</a>
        </li>
        {% endfor %}
    </div>
    <ul class="main-nav">
        {% for nav_item in site.data.navigation %}
        <li class="mx-4">
            <a class="nav-links" href="{{ nav_item.url }}">{% if nav_item.icon != null %}<i class='icon-{{ nav_item.icon }}'></i> {% endif %}{{ nav_item.name }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>
