---
permalink: /404
layout: default
title: Page not found
---
{% include header.html %}
<div class="container text-center">
    <div class="columns">
        <div class="column col-6 col-mx-auto col-sm-12 negative-m-xs">
            <div class="card">
                <div class="card-body">
                    <h1 class="text-bold">404</h1>
                    <p><strong>Page not found :(</strong></p>
                    <p>The requested page could not be found.</p>
                </div>
            </div>
        </div>
    </div>
</div>
