---
layout: default
title: Home
---
{% include header-home.html %}
<div class="container-full">
    <div class="container grid-xl">
        <div class="columns negative-m-s">
            <div class="column col-12 text-center">
                <h6 class="text-secondary">Select a Category</h6>
            </div>
            {% for category_record in site.data.categories %}
            {% capture category_slug %}{{ category_record | first }}{% endcapture %}
            {% assign category = site.data.categories[category_slug] %}
            {% unless category.parent %}
            {% assign jekyll_category = site.categories[category_slug] %}
            <div class="column col-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/{{ category_slug | slugify }}/">
                    <div class="card card-link">
                        <div class="card-body text-center my-4">
                            <h5 class="text-bold">{{ category.name }}</h5>
                            {% if jekyll_category.size == 1 %}
                            <p class="m-0">{{ jekyll_category | size }} article</p>
                            {% else %}
                            <p class="m-0">{{ jekyll_category | size }} articles</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endunless %}
            {% endfor %}
        </div>
    </div>
</div>
