@media (min-width: 760px) {
    .library-name a {
        position: relative;
        --logo-width: 3rem;
        margin-left: calc(var(--logo-width) + .5rem);
    }

    .library-name a::before {
        content: '';
        background: url("../images/logo-icon.svg") center no-repeat;
        background-size: contain;
        position: absolute;
        width: var(--logo-width);
        height: 3.6rem;
        top: -1.1rem;
        left: calc(-1 * var(--logo-width) - 5px);
    }
}
