---
layout: default
---
{% include header.html %}
<div class="container-full">
    <div class="container grid-xl">
        <div class="mt-12 show-md"></div>
        <div class="mt-8"></div>
        <div class="columns negative-m-xl">
            <div class="column col-12">
                {% include breadcrumb.html item=page %}
                <h2 class="text-light text-bold">{{ page.category_name }}</h2>
                <p class="text-light mb-2">{{ page.description }}</p>
            </div>
            {% for category_record in site.data.categories %}
            {% capture category_slug %}{{ category_record | first }}{% endcapture %}
            {% assign category = site.data.categories[category_slug] %}
            {% if category.parent == page.slug %}
            {% assign jekyll_category = site.categories[category_slug] %}
            <div class="column col-4 col-md-6 col-sm-12">
                <a href="{{ site.baseurl }}/{{ category.slug }}/">
                    <div class="card card-link">
                        <div class="card-body text-center my-4">
                            <h5 class="text-bold">{{ category.name }}</h5>

                            {% if jekyll_category.size == 1 %}
                            <p class="m-0">{{ jekyll_category | size }} article</p>
                            {% else %}
                            <p class="m-0">{{ jekyll_category | size }} articles</p>
                            {% endif %}
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% for post in site.categories[page.slug] %}
            {% include article-card.html %}
            {% endfor %}
        </div>
    </div>
</div>



