<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns# article: https://ogp.me/ns/article# profile: https://ogp.me/ns/profile#" >
{% include head.html %}
<body>
{{ content }}
{% unless page.disable_footer %}
{% include footer.html %}
{% endunless %}
</body>
</html>
