---
layout: default
---
{% include header.html %}
<div class="container-full">
    <div class="container grid-xl">
        <div class="mt-12 show-md"></div>
        <div class="mt-8"></div>
        <div class="columns negative-m-xl">
            <div class="column col-12">
                {% include breadcrumb.html item=page%}
                <h2 class="text-light text-bold">{{ page.title }}</h2>
                <p class="text-light mb-0">{{ page.short-description }}</p>
            </div>
            <div class="column col-12">
                <div class="card">
                    <div class="card-body">
                        {% assign post_author = site.data.authors[page.author] %}
                        <div class="flex-vertical-center mb-4">
                            <figure class="avatar d-inline-block" style="align-items: center;">
                                <img src="../assets/{{ post_author.image }}" alt="...">
                            </figure>
                            <div class="ml-2">
                                <p class="text-dark text-small mb-0">Written by <span class="text-primary">{{ post_author.first_name }} {{ post_author.last_name }}</span>
                                </p>
                                <p class="text-dark text-small text-italic mb-0">{% include reading-time.html %}</p>
                            </div>
                            <div class="ml-2 flex-auto text-align-end">
                                <p class="m-0 text-small">Published at {{ page.date | date: '%B %d, %Y' }}</p>
                                {%- if page.last_modified_at -%}
                                <p class="m-0 text-small">Last modified at {{ page.last_modified_at | date: '%B %d, %Y' }}</p>
                                {%- endif -%}
                            </div>
                        </div>
                        {{ content }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
