html, body {
    --bg-color: #222222;
    --fg-color: #fefefe;

    background-color: var(--bg-color);
    color: var(--fg-color)
;
    font-family: "JetBrains Mono", "Hack", monospace;
}

table {
    border: none;
}

th, td {
    border: 1px solid #535353;
}

/* endpoints */

table.endpoints {
    width: 100%;
    --endpoint-source-width: 150px;
    --endpoint-http-method-width: 40px;
}

table.endpoints th.http-method {
    writing-mode: vertical-lr;
    text-orientation: upright;
}

table.endpoints tr.endpoint {
    height: 40px;
}

table.endpoints tbody td.endpoint-path, table.endpoints thead th.endpoint-path {
    text-align: start;
    padding-inline-start: 1em;
    min-width: 500px;
}

table.endpoints tbody td.endpoint-source, table.endpoints thead th.endpoint-source {
    width: var(--endpoint-source-width);
    min-width: var(--endpoint-source-width);
}

table.endpoints tbody td.endpoint-source {
    padding-inline-end: 1em;
    text-align: end;
}

table.endpoints tbody td.http-method, table.endpoints thead th.http-method {
    width: var(--endpoint-http-method-width);
    min-width: var(--endpoint-http-method-width);
}

table.endpoints td.http-method {
    text-align: center;
}

table.endpoints td.http-method.blank {
    border-color: #333333;
}

table.endpoints td.http-method.missing {
    background-color: red;
    color: black;
}

table.endpoints td.http-method.present {
    background-color: green;
    color: white;
}

table.endpoints td.http-method img.method-icon {
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(150deg) brightness(104%) contrast(101%);
}

table.sticky-header thead {
    position: sticky;
    top: 0;
    background: var(--bg-color);
    z-index: 100;
}

