$fa-font-path: "../assets/webfonts";

@import "fontawesome/fontawesome";
@import "fontawesome/solid";
@import "fontawesome/brands";

.icon-discord {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-discord);
    }
}

.icon-openapi {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-microchip);
    }
}

.icon-check-circle {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-check-circle);
    }
}

.icon-times-circle {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-times-circle);
    }
}

.icon-twitter {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-twitter);
    }
}

.icon-gitlab {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-gitlab);
    }
}

.icon-github {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-github);
    }
}

.icon-linkedin {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-linkedin);
    }
}

.icon-facebook {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-facebook);
    }
}

.icon-instagram {
    @extend %fa-icon;
    @extend .fab;

    &:before {
        content: fa-content($fa-var-instagram);
    }
}

.icon-envelope {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-envelope);
    }
}

.icon-book {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-book);
    }
}

.icon-spider {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-spider);
    }
}

.icon-icicles {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-icicles);
    }
}

.icon-link {
    @extend %fa-icon;
    @extend .fas;

    &:before {
        content: fa-content($fa-var-link);
    }
}
