@use "sass:math";

// Core variables
$version: "0.5.8";

// Core features
$rtl: false !default;


// Box shadows
$light-shadow: 0 4px 6px rgba(55, 65, 80, 0.04);
$main-shadow: 0 4px 6px rgba(55, 65, 80, 0.7);
$hover-shadow: 0px 4px 8px rgba(45, 66, 70, 0.1);

// Core colors
$primary-color: #212529 !default;
$primary-color-dark: #0f1113 !default;
$secondary-color: #d1d1e9 !default;
$secondary-color-dark: #b3b3cb !default;
$white: #fffffe;
$highlight-color: #3498db;

// Gray colors
$dark-color: #2b2c34 !default;
$gray-color: #d7d8e1 !default;
$gray-color-light: #f5f6ff !default;
$gray-color-dark: #9b9caf !default;

$border-color: $gray-color-light !default;
$border-color-dark: darken($border-color, 10%) !default;
$border-color-light: lighten($border-color, 8%) !default;
$bg-color: lighten($gray-color, 35%) !default;
$bg-color-dark: darken($bg-color, 3%) !default;

// Control colors
$success: #6CBC2B !default;
$warning: #FFCC00 !default;
$error: #fa5246 !default;


// Other colors
$code-color: #d73e48 !default;
$highgray-color-light: #ffe9b3 !default;
$body-bg: $gray-color-light !default;
$body-font-color: lighten($dark-color, 5%) !default;
$link-color: $primary-color !default;
$link-color-dark: darken($link-color, 10%) !default;
$link-color-light: lighten($link-color, 10%) !default;

// Fonts
// Credit: https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$base-font-family: "Muli", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;
$serif-font-family: Georgia, Cambria, "Times New Roman", Times, serif;
$mono-font-family: "SF Mono", "Segoe UI Mono", "Roboto Mono", Menlo, Courier, monospace !default;
$fallback-font-family: "Helvetica Neue", sans-serif !default;
$cjk-zh-hans-font-family: $base-font-family, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", $fallback-font-family !default;
$cjk-zh-hant-font-family: $base-font-family, "PingFang TC", "Hiragino Sans CNS", "Microsoft JhengHei", $fallback-font-family !default;
$cjk-jp-font-family: $base-font-family, "Hiragino Sans", "Hiragino Kaku Gothic Pro", "Yu Gothic", YuGothic, Meiryo, $fallback-font-family !default;
$cjk-ko-font-family: $base-font-family, "Malgun Gothic", $fallback-font-family !default;
$body-font-family: $base-font-family !default;

$header-font-family: "Poppins", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto !default;

// Unit sizes
$unit-o: .05rem !default;
$unit-h: .1rem !default;
$unit-1: .2rem !default;
$unit-2: .4rem !default;
$unit-3: .6rem !default;
$unit-4: .8rem !default;
$unit-5: 1rem !default;
$unit-6: 1.2rem !default;
$unit-7: 1.4rem !default;
$unit-8: 1.6rem !default;
$unit-9: 1.8rem !default;
$unit-10: 2rem !default;
$unit-12: 2.4rem !default;
$unit-16: 3.2rem !default;

// Font sizes
$html-font-size: 20px !default;
$html-line-height: 1.5 !default;
$font-size: .8rem !default;
$font-size-sm: .7rem !default;
$font-size-lg: .9rem !default;
$line-height: 1.2rem !default;

// Sizes
$layout-spacing: $unit-2 !default;
$layout-spacing-sm: $unit-1 !default;
$layout-spacing-lg: $unit-4 !default;
$border-radius: $unit-1 !default;
$border-radius-lg: 8px;
$border-width: $unit-o !default;
$border-width-lg: $unit-h !default;
$control-size: $unit-9 !default;
$control-size-sm: $unit-7 !default;
$control-size-lg: $unit-10 !default;
$control-size-xl: $unit-12 !default;
$control-padding-x: $unit-2 !default;
$control-padding-x-sm: $unit-2 * .75 !default;
$control-padding-x-lg: $unit-2 * 4 !default;
$control-padding-y: math.div($control-size - $line-height, 2) - $border-width !default;
$control-padding-y-sm: math.div($control-size-sm - $line-height, 2) - $border-width !default;
$control-padding-y-lg: math.div($control-size-lg - $line-height, 2) - $border-width !default;
$control-icon-size: .8rem !default;

$control-width-xs: 180px !default;
$control-width-sm: 320px !default;
$control-width-md: 640px !default;
$control-width-lg: 960px !default;
$control-width-xl: 1280px !default;

// Responsive breakpoints
$size-xs: 480px !default;
$size-sm: 600px !default;
$size-md: 840px !default;
$size-lg: 960px !default;
$size-xl: 1080px !default;
$size-xxl: 1200px !default;
$size-2x: 1440px !default;

$responsive-breakpoint: $size-xs !default;

// Z-index
$zindex-0: 1 !default;
$zindex-1: 100 !default;
$zindex-2: 200 !default;
$zindex-3: 300 !default;
$zindex-4: 400 !default;
